<mat-card class="example-card">
  <mat-card-header>
    <h1>Regiones</h1>
  </mat-card-header>
  <mat-card-content>

    <div style="display: flex">
      <div *ngFor="let region of regions" style="   flex-basis: 33%;
    align-items: center;
    display: flex;
    flex-direction: column;">
        <h2>{{region.regionEs}}</h2>

        <mat-list role="list">
          <mat-list-item *ngFor="let country of region.countries">
            <div mat-card-avatar class="example-header-image"
                 [ngStyle]="{'background-size': 'cover', 'background-image': 'url(assets/flags/'+ country.flag +')'}"
                  style="    height: 20px;
    width: 20px;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 5px;"

            ></div>
            {{country.name_es}}</mat-list-item>
        </mat-list>

      </div>
    </div>

  </mat-card-content>
</mat-card>

<h1></h1>


